.black-button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;

  font-weight: 500;
  font-size: 10px;
  line-height: 16px;

  cursor: pointer;
  transition: background-color 0.8s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &_min {
    width: 54px;
    height: 26px;

    @media (min-width: 568px) {
      width: 76px;
      height: 32px;
    }
  }

  @media (min-width: 568px) {
    font-size: 12px;
    line-height: 16px;
  }

  &_search {
    padding: 13px 5px;
    width: 70px;
    height: 44px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}
