.root {
    margin: 0 auto;
    padding: 0;
    /*max-width: 320px;*/
    box-sizing: border-box;

    font-family: 'Inter', ‘Arial’, sans-serif;
    background-color: #fff;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;

    overflow: hidden;
}
