.filter-checkbox {
  padding: 44px 0 43px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-bottom: 1px #E8E8E8 solid;

  @media (min-width: 568px) {
    margin-top: 30px;
    margin-bottom: 39px;
  }

  @media (min-width: 700px) {
    padding-top: 0;
    padding-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
  }

  &__label {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;

    cursor: pointer;

    @media (min-width: 568px) {
      font-size: 12px;
    }
  }
}

.filter-checkbox__input-invisible {
    display: none;
}

.filter-checkbox__input-visible {
  position: relative;
  display: block;

  margin-right: 13px;
  width: 36px;
  height: 20px;

  background-color: #EBEBEB;
  border-radius: 20px;

  cursor: pointer;
  transition: .3s;

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    display: block;

    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #F5F5F5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    transition: .3s;
  }
}

.filter-checkbox__input-invisible:checked + .filter-checkbox__input-visible {
  background-color: #2BE080;
}

.filter-checkbox__input-invisible:checked + .filter-checkbox__input-visible::before {
  opacity: 1;
  left: 18px;
  background-color: #fff;
}
