.card-list {
  margin: 40px auto 0;
  width: 300px;

  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-row-gap: 16px;

  @media (min-width: 750px) {
    margin: 70px auto 0;

    grid-template-columns: repeat(2, 339px);
    justify-content: center;
    row-gap: 30px;
    column-gap: 36px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 364px);
    column-gap: 30px;
    row-gap: 24px;
  }

  &__button {
      padding: 11px 20px;
      margin-top: 50px;
      margin-bottom: 80px;
      width: 240px;
      height: 36px;

      background-color: #F9F9F9;
      border: none;

      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: center;

      cursor: pointer;

    &:active {
      background-color: #e8e8e8;
    }

      @media (min-width: 568px) {
        width: 320px;
      }
  }
}
