.profile {
  padding: 70px 30px 40px;
  margin: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 568px) {
    padding: 23% 179px 26%;
  }

  @media (min-width: 1280px) {
    padding: 74px 34% 70px;
  }

  &__title {
    margin: 0;
    padding: 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  &__about-list {
    padding: 0;
    margin: 80px 0 0;
    width: 100%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    list-style-type: none;
  }

  &__about-item {
    width: 100%;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #e8e8e8;

    &:last-child {
      margin-top: 17px;
      padding-bottom: 0;

      border-bottom: none;
    }
  }

  &__data {
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    &-span {
      font-weight: 500;
    }
  }

  &__buttons {
    margin-top: 48vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 568px) {
      margin-top: 210px;
    }

    @media (min-width: 1280px) {
      margin-top: 220px;
    }
  }

  &__button {
    padding: 0;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    border: none;
    background-color: transparent;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &_exit {
      color: #FF4062;
    }

    @media (min-width: 568px) {
      font-size: 13px;
      line-height: 16px;
    }
  }
}
