.search-input {
  box-sizing: border-box;
  width: 100%;
  //margin: 0 10px 0 0;
  padding: 13px 16px;

  border: none;
  border-radius: 4px;
  background-color: #F9F9F9;
  color: #A0A0A0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}
