.search-input {
  box-sizing: border-box;
  width: 72.6%;
  margin: 0 10px 0 0;
  padding: 13px 16px;

  border: none;
  border-radius: 4px;
  background-color: #F9F9F9;
  color: #A0A0A0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;

  @media (min-width: 568px) {
    width: 88.7%;
    font-size: 14px;
  }

  @media(min-width: 1050px) {
    width: 92.9%;
  }
}
