.card {
  max-width: 300px;
  max-height: 236px;

  overflow: hidden;
  box-shadow: 0 -5px 5px rgba(4, 4, 4, 0.03);

  @media (min-width: 750px) {
    max-width: 339px;
    max-height: 258px;
  }

  @media (min-width: 1280px) {
    max-width: 364px;
    max-height: 271px;
  }

  &__header {
    padding: 14px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    width: 30px;
    height: 30px;

    border: none;

    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    cursor: pointer;

    &-save {
      background-image: url('../../../../images/save-dis.svg');

      &:active {
        background-image: url('../../../../images/save-act.svg');
      }
    }

    &-saved {
      background-image: url('../../../../images/del_card.svg');
      background-color: #F9F9F9;
      border-radius: 36px;

      &:active {
        background-color: #ffffff;
      }
    }
  }

  &__title {
    margin: 0;
    padding: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
  }

  &__img {
    max-width: 100%;

    object-position: center;
    object-fit: cover;

    @media (min-width: 750px) {
      height: 190px;
    }

    @media (min-width: 1280px) {
      height: 203px;
    }
  }
}
