.account-button {
  max-width: 100px;
  max-height: 32px;
  padding: 8px 12px;
  //margin-top: 57%;

  border-radius: 50px;
  border: 2px rgba(160, 160, 160, 0.2) solid;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;

  &__img {
    margin-right: 7px;
    max-width: 12px;
    max-height: 14px;
  }

  &__text {
    margin: 0;
    padding: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
}
