.movies {
  padding: 0;
  margin: 80px 10px 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  @media(min-width: 568px) {
    margin-right: 30px;
    margin-left: 30px;
  }

  @media(min-width: 1050px) {
    margin-right: 70px;
    margin-left: 70px;
  }

  &__search-error {
    display: block;

    margin: 0;
    padding-top: 10%;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    &-hidden {
      display: none;
    }
  }
}
